chromadb==0.4.24
langchain==0.2.1
langchain-experimental==0.0.59
llama-cpp-python==0.2.69
nltk==3.8.1
omegaconf==2.3.0
orjson==3.10.3
sentence-transformers==2.7.0
sentencepiece==0.2.0
wikipedia==1.4.0
